{% extends 'base.html.twig' %}

{% block title %}Change Password
{% endblock %}

{% block body %}
		
        {{ form_start(changePassword) }}    
        {{ form_row(changePassword.oldPassword) }}
        {{ form_row(changePassword.password) }}
		<button class="btn btn-lg btn-primary" type="submit">
			Modifier
		</button>
	</form>
{% endblock %}