{% extends 'base.html.twig' %}

{% set text = (editMode) ? 'Modifier':'Ajouter' %}

{% block title %}
Un Stagiaire
{% endblock %}

{% block contenu %}

  <h1>{{ text }} salarié <span>{{ stagiaire }}</span></h1>

    {{ form(formStagiaire) }}

{% endblock %}