{% extends 'base.html.twig' %}

{% set text = (editMode) ? 'Modifier':'Ajouter' %}

{% block title %}
Un Employé
{% endblock %}

{% block contenu %}
<a type="button" onclick="history.go(-1);" class="btn" style="padding-left: 0;">
		<i class="fas fa-arrow-left" style="font-size: 3rem"></i>
	</a>

  <h1>{{ text }} employé <span>{{ utilisateur }}</span></h1>

    {{ form(formUtilisateur) }}

{% endblock %}