{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
	<link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<div class="sidenav">
		<div class="login-main-text">
			<h2>Bienvenue</h2>
			<p>Connectez vous</p>
		</div>
	</div>
	<div class="main">
		<div class="col-md-6 col-sm-12">
			<div class="login-form">
				<form>
					<div class="form-group">
						<label>Email</label>
						<input type="text" class="form-control" placeholder="email">
					</div>
					<div class="form-group">
						<label>Mot de passe</label>
						<input type="password" class="form-control" placeholder="mot de passe">
					</div>
					<button type="submit" class="btn btn-black">se connecter</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
